<div id="page-content">
  <div class="container mt-4">

    <h1 class="text-center">Updating article #<%= @article.id %></h1>

    <%= render "form", article: @article, method_msg: "Update" %>
  </div>
</div>
