.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('jumbo-copy.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
  border-radius: 10px;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
}

#page-content {
  min-height: 76vh;
  margin-bottom: 4rem;
}